@import '../../Styles/variables.scss' ;

.navbar {
    background-color: $navhover;
    font-family: 'Poppins', sans-serif;
    font-size: $font-size;
    color: $textcolor;
    display: flex;
    justify-content: space-between;
    margin-right: 0;
    margin-bottom: 5vh;
    font-weight: 300;
 a {text-decoration-line: none;
    color: $textcolor;
    font-weight: normal;
    margin:0;};

    a:hover {
        color: $accenttext;
};}
ul {
    list-style-type: none;
    li {
        float: left;
        margin-right: 10px;
       text-align: center;
    }
};
span {
    font-size: 1.5rem;
    padding-top: 10px;
}