$bgcolor: #2F303A;
$bgcolorfooter: #211F26;
$navhover: #202027;
$borderinputcolor: #2E3852;
$borderinputfocus:#596da0;
$buttonbgcolor:#1762A7;
$buttonhover:#2180d8;
$buttonfocus: #2796ff;
$accenttext: hsl(325, 87%, 41%);
$circle1: #bc3a801a;
$circle2:#3457b21a; 



