@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$bgcolor: #2F303A;
$bgcolorfooter: #211F26;
$navhover: #20202709;
$borderinputcolor: #2E3852;
$borderinputfocus:#596da0;
$buttonbgcolor:#1762A7;
$buttonhover:#2180d8;
$buttonfocus: #2796ff;
$accenttext: hsl(325, 88%, 30%);
$circle1: #bc3a801a;
$circle2:#3457b21a; 
$font-size: 1.2rem;
$theme-font: 'Poppins', sans-serif;
$textcolor: white;


